* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

h1 {
font-size: 56px;
}

h2 {
font-size: 40px;
}

h3 {
font-size: 35px;
}

h4 {
font-size: 28px;
}

h5 {
font-size: 24px;
}

h6 {
font-size: 18px;
}

a {
text-decoration: none;
color: inherit;
}


.container{
width: 100%;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}

.twitter-img{
flex-basis: 50%;
height: 100%;
flex-grow: 1;
}

.twitter-img img{
    width: 100%;
    height: 100%;
    display: block;
}

.signup{
flex-basis: 50%;
height: 100%;
background-color: black;
padding: 8% 30px ;
color: white;
text-align: left;
flex-grow: 1;
}

.signup img, .form-box img{
    width: 40px;
    height: 40px;
    top: 40px;
    left: 20px;
    margin-bottom: 20px;
}

.signup h1{
        margin: 10% 0;
}

.signup h3{
    margin-bottom: 5%;
}   

.signup button, .form-box button{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid transparent;
    outline: none;
    display: block;
    width: 40%;
    margin: 5% 0 20% 5%;
    background: #4A99E9;
    color: white;
    cursor: pointer;
}

.signup button:last-child{
    background-color: black;
    border-color: white;
    color: white;
}


/* signin popup page */

.form-box{
    width: 40%;
    height:72%;
    background-color: black ;
    color: white;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    margin: auto;
    text-align: center;
    border-radius: 10px;
    padding: 10px 7% 10% 7%;
    border: 1px solid white;
    box-sizing: border-box;

}

.form-box h4{
    padding-bottom: 10%;
}

.form-box input{
    width: 100%;
    padding: 15px;
    margin: 20px auto;
    border: 1px solid #4A99E9;
    box-sizing: border-box;
    outline: none;
    transition: 0.5s;
    border-radius: 10px;
}

.form-box input:focus{
    border: 3px solid #4A99E9;
}

.form-box button{
    width: 100%;
    margin: 20px 0;
    margin-bottom: 10%;
}

.form-box a{
    color: #4A99E9;
    cursor: pointer;
}


.form-box .input-field{
    width: 100%;
    padding: 10px;
    margin: 5px auto;
    border: 1px solid #4A99E9;
    box-sizing: border-box;
    outline: none;
    transition: 0.5s;
    border-radius: 10px;
}



@media only screen and (max-width: 600px ){
 .form-box{
    width:100% ;
    height: 100%;
    z-index: 10;
    border: none;
    border-radius: 0;
    margin: 0;
    
 }

 .form-box button{
    margin-top: 20%;
 }
 .container{
    display: none;
 }

  }